.topIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vw;
}
.mineAvatar{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.mineInformation{
    display: flex;
}
.mineNameText{
    font-size: 25px;
    color: white;
    font-family: inherit;

}

.mineIDText{
    font-size: 15px;
    color: #e6e6e6;
    font-family: inherit;

}
.followInfo{
    font-size: 20px;
    font-family: inherit;
    color: white;

}
.followNum{
    font-size: 20px;
    color: #e6e6e6;
    font-family: inherit;

}
.followingContent{
    display: flex;
    gap: 5%;
}