.nav-bottom-container {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px #2D328E;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.nav-bottom-text{
    font-size: 12px;
}
.nav-bottom-item {
    height: 56px;
    color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 56px;
    border-radius: 20px;
}
.nav-bottom-item.active {
    /* 选中项的颜色 */
    color: #2D328E;
}
.nav-bottom-item:active{
    background-color: #e6e6e6;
    transition: 0.2s;
}